#app {
  max-width: 600px;
}

.padding-tb-md {
  padding-top: 20px;
  padding-bottom: 20px;
}

.max-width-md {
  max-width: 200px;
}

.max-width-lg {
  max-width: 400px;
}

.max-width-xl {
  max-width: 600px;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}
